#
# Log output
#
CONFIG_LOG_DEFAULT_LEVEL_DEBUG=y
CONFIG_LOG_DEFAULT_LEVEL=4
CONFIG_LOG_MAXIMUM_EQUALS_DEFAULT=y
# end of Log output

CONFIG_LWIP_DEBUG=y
CONFIG_LWIP_IP_DEBUG=y
CONFIG_LWIP_SOCKETS_DEBUG=y
CONFIG_LWIP_TCP_DEBUG=y
